# CONFIG
PORT=3000
CORS=*


# MONGO
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=

# USERS
DEFAULT_ADMIN_PASSWORD=
DEFAULT_USER_PASSWORD=

# AUTH
AUTH_JWT_SECRET=FC6xnhTSEKlt0mNHjw4fucpzqg2e5M9B

# API KEY
PUBLIC_API_KEY_TOKEN=
ADMIN_API_KEY_TOKEN=
